---
import Icon from "./Icon.astro";
---

<div class="relative flex items-center">
  <div class="absolute left-3">
    <Icon name="search" />
  </div>
  <input
    placeholder="Search..."
    class="pl-14 bg-transparent border-gray-500 border-[2px] py-3 px-4 rounded-md w-full"
  />
</div>
