---
import "../styles/global.css";
---

<main class="max-w-[1576px] px-20 mx-auto w-full max-sw:px-5">
  <header class="py-5">
    <h1
      class="underline font-extrabold text-blue-300 text-2xl tracking-wide text-center mb-10"
    >
      <a href="/">Bipin Bhandari Blogs</a>
    </h1>
  </header>
  <slot />
</main>
